CONFIG_JSON='{"token": "token","prefix": "!","clientsettings": {"nodes": [{"host": "localhost","port": 9000,"password": "password-lavalink","secure": false}]},"spotify": {"clientId": "id","secret": "secret"}}'